<html>

	<head>
		<link rel="stylesheet" href="/css/colors.min.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/skull-beggar.css">
		<title> SKULL BEGGAR </title>
	</head>
	
	<body ng-app="skullBeggar" class="white skull-beggar">
		
		<div class="container-fluid skull-beggar" ng-controller="skullController">
			
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
						<img class="center-block" src="/images/skull-beggar/skull-beggar.png" alt="The Skull Beggar Logo!"></img>
					</div>
				</div>
			</div>
			
			<div class="row panel">
				<div class="col-md-4"></div>
				<div class="col-md-2">
					<input type="text" class="form-control" placeholder="Search by name..." ng-model="searchText"/>
				</div>
				<div class="col-md-2">
					<div class="row">
						<div class="col-md-3">
							<img class="money" src="/images/skull-beggar/A_Dollar_Icon.png" alt="money photo"></img>
						</div>
						<div class="col-md-9">
							<h4>{{cash()}}</h4>
						</div>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
			
			<div class="row" ng-if="betting()">
				<div class="col-md-4">
						<div class="enemy-row row panel" ng-repeat="enemy in enemies">
							<div class="col-xs-3">
								<img class="enemy" src="{{enemy.imgUrl}}" placeholder="{{enemy.name}}"></img> 
							</div>
							<div class="col-xs-6 text-center">
								{{enemy.name}}
							</div>
							<div class="col-xs-3">
								<button class="btn bg-olive" ng-click="betOn(enemy)"> Bet! </button>
							</div>
						</div>
				</div>
			</div>
			
		</div>

		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script type="text/javascript" src="/js/angular-resource.min.js"></script>
		<script type="text/javascript" src="/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
		<script type="text/javascript" src="/js/skull-beggar.js"></script>
		
	</body>
	
</html>